body,
html {
  height: 100%;
  margin: 0;
  background-color: black;
  overflow: hidden;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: rgb(26, 24, 24);
}

.retro {
  width: 1200px;
  height: 900px;
  image-rendering: pixelated;
}

#overlay {
  position: absolute;
  left: 10px;
  top: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  padding: 0.6rem;
  background-color: rgba(50, 50, 60, 0.7);
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.7);
}
